# NOTE: There is no way to ignore raw executables without ignoring the Makefile as well,
# so just remember to put all executables in the dist/ directory.


build/*
out/*
.cache/*
tests/logs/*

# Ignore generated book from mdbook
docs/book/
docs/book/*

# Coverage outputs
coverage.info
coverage/

# Other weird things
*.swp
*.tar.gz
1

# Compile commands (mainly just to keep root clean)
compile_commands.json

# Vim leftovers
*.swp
1
